In [2]:
import requests
import pandas as pd
import numpy as np
import geopandas as gpd

In [3]:
dfg = gpd.read_file('https://raw.githubusercontent.com/datasett/maps/master/norway/data/counties_2018_s_geojson.json')

In [9]:
dfg.columns

Index(['id', 'kommunenummer', 'oppdateringsdato', 'navn', 'area_kommune',
       'fylke_nummer_2018', 'fylke_nummer_2019', 'fylke_navn_2019',
       'fylke_nummer_2020', 'fylke_navn_2020', 'geometry'],
      dtype='object')

In [10]:
df = pd.read_json('https://raw.githubusercontent.com/datasett/maps/master/norway/data/counties_2018_s_geojson.json')

In [61]:
kommuner = []
for index, row in df.iterrows():
    kommuner.append(row.features['properties'])

In [82]:
dfk = pd.DataFrame(kommuner)

In [83]:
dfk.head(1)

,area_kommune,centroid_kommune,fylke_navn_2019,fylke_navn_2020,fylke_nummer_2018,fylke_nummer_2019,fylke_nummer_2020,kommunenummer,navn,oppdateringsdato
0,0.100015,"[11.498404769493327, 59.08595732263681]",ØSTFOLD,VIKEN,01,01,30,0101,Halden,2018-12-10T00:00:00

In [84]:
dfb = pd.read_csv('https://data.ssb.no/api/v0/dataset/1080.csv?lang=no', sep=';', encoding='latin1')

In [85]:
dfb['kommune'] = dfb['region'].apply(lambda x: x[0:4])
dfb.head()

,region,alder,år,statistikkvariabel,"07459: Befolkning, etter region, alder, år og statistikkvariabel",kommune
0,0101 Halden (-2019),000 0 år,2019,Personer,245,0101
1,0101 Halden (-2019),001 1 år,2019,Personer,309,0101
2,0101 Halden (-2019),002 2 år,2019,Personer,311,0101
3,0101 Halden (-2019),003 3 år,2019,Personer,303,0101
4,0101 Halden (-2019),004 4 år,2019,Personer,318,0101

In [86]:
dfb_grouped = dfb[['07459: Befolkning, etter region, alder, år og statistikkvariabel','kommune','år']].groupby(['kommune','år']).sum().reset_index()

In [87]:
dfb_grouped.columns=['kommunenummer', 'år','befolkning']

In [88]:
dfb_grouped.head(1)

  kommunenummer    år  befolkning
0          0101  2019       31177

In [89]:
df_m = pd.merge(dfb_grouped,dfk, on='kommunenummer', how='left')

In [104]:
df_m.head(100)

,kommunenummer,år,befolkning,area_kommune,centroid_kommune,fylke_navn_2019,fylke_navn_2020,fylke_nummer_2018,fylke_nummer_2019,fylke_nummer_2020,navn,oppdateringsdato,latitude,longitude
0,0101,2019,31177,0.100015,"[11.498404769493327, 59.08595732263681]",ØSTFOLD,VIKEN,01,01,30,Halden,2018-12-10T00:00:00,59.085957,11.498405
1,0104,2019,32726,0.009754,"[10.694785483673224, 59.45187621919044]",ØSTFOLD,VIKEN,01,01,30,Moss,2018-12-10T00:00:00,59.085957,11.498405
2,0105,2019,55997,0.063157,"[11.161866574429215, 59.288044170917]",ØSTFOLD,VIKEN,01,01,30,Sarpsborg,2018-12-10T00:00:00,59.085957,11.498405
3,0106,2019,81772,0.043210,"[10.937506651630564, 59.23057820000602]",ØSTFOLD,VIKEN,01,01,30,Fredrikstad,2018-12-10T00:00:00,59.085957,11.498405
4,0111,2019,4599,0.010446,"[10.965155146323387, 59.07160447267584]",ØSTFOLD,VIKEN,01,01,30,Hvaler,2018-12-10T00:00:00,59.085957,11.498405
5,0118,2019,1357,0.050560,"[11.696105750059868, 59.21555568971278]",ØSTFOLD,VIKEN,01,01,30,Aremark,2018-12-10T00:00:00,59.085957,11.498405
6,0119,2019,3592,0.064756,"[11.652372443442108, 59.48573464493384]",ØSTFOLD,VIKEN,01,01,30,Marker,2018-12-10T00:00:00,59.085957,11.498405
7,0121,2019,673,0.029597,"[11.806821156278769, 59.71379746689546]",ØSTFOLD,VIKEN,01,01,30,Rømskog,2018-12-10T00:00:00,59.085957,11.498405
8,0122,2019,5347,0.032279,"[11.333151010175229, 59.66243517006918]",ØSTFOLD,VIKEN,01,01,30,Trøgstad,2018-12-10T00:00:00,59.085957,11.498405
9,0123,2019,6042,0.022931,"[11.081841208098155, 59.60731646700169]",ØSTFOLD,VIKEN,01,01,30,Spydeberg,2018-12-10T00:00:00,59.085957,11.498405
10,0124,2019,15865,0.010788,"[11.17394047332145, 59.59453597745178]",ØSTFOLD,VIKEN,01,01,30,Askim,2018-12-10T00:00:00,59.085957,11.498405
11,0125,2019,11424,0.037126,"[11.372985980628956, 59.53261034086829]",ØSTFOLD,VIKEN,01,01,30,Eidsberg,2018-12-10T00:00:00,59.085957,11.498405
12,0127,2019,3797,0.016236,"[11.15282949536259, 59.48107646138169]",ØSTFOLD,VIKEN,01,01,30,Skiptvet,2018-12-10T00:00:00,59.085957,11.498405
13,0128,2019,8230,0.068911,"[11.41629539947803, 59.37271350378448]",ØSTFOLD,VIKEN,01,01,30,Rakkestad,2018-12-10T00:00:00,59.085957,11.498405
14,0135,2019,7542,0.018438,"[10.861806171033308, 59.34660963102975]",ØSTFOLD,VIKEN,01,01,30,Råde,2018-12-10T00:00:00,59.085957,11.498405
15,0136,2019,16145,0.011491,"[10.715608336190789, 59.37693602179492]",ØSTFOLD,VIKEN,01,01,30,Rygge,2018-12-10T00:00:00,59.085957,11.498405
16,0137,2019,5593,0.040793,"[10.932417532482681, 59.45792461986205]",ØSTFOLD,VIKEN,01,01,30,Våler,2018-12-10T00:00:00,59.085957,11.498405
17,0138,2019,5642,0.021266,"[10.941455276084094, 59.60096306203317]",ØSTFOLD,VIKEN,01,01,30,Hobøl,2018-12-10T00:00:00,59.085957,11.498405
18,0211,2019,17824,0.022016,"[10.737572488854479, 59.5679322105662]",AKERSHUS,VIKEN,02,02,30,Vestby,2018-12-10T00:00:00,59.085957,11.498405
19,0213,2019,30843,0.026871,"[10.901699306740774, 59.72855767530861]",AKERSHUS,VIKEN,02,02,30,Ski,2018-12-10T00:00:00,59.085957,11.498405
20,0214,2019,20335,0.016167,"[10.785062022477439, 59.67690382262835]",AKERSHUS,VIKEN,02,02,30,Ås,2018-12-10T00:00:00,59.085957,11.498405
21,0215,2019,15761,0.012415,"[10.670582656607847, 59.70346112079382]",AKERSHUS,VIKEN,02,02,30,Frogn,2018-12-10T00:00:00,59.085957,11.498405
22,0216,2019,19488,0.009721,"[10.645328503593683, 59.792196457856775]",AKERSHUS,VIKEN,02,02,30,Nesodden,2018-12-10T00:00:00,59.085957,11.498405
23,0217,2019,27394,0.006164,"[10.784541566491042, 59.79126010205358]",AKERSHUS,VIKEN,02,02,30,Oppegård,2018-12-10T00:00:00,59.085957,11.498405
24,0219,2019,126841,0.030917,"[10.495685105967478, 59.942771245441016]",AKERSHUS,VIKEN,02,02,30,Bærum,2018-12-10T00:00:00,59.085957,11.498405
25,0220,2019,61523,0.015104,"[10.419398009121238, 59.834410370957805]",AKERSHUS,VIKEN,02,02,30,Asker,2018-12-10T00:00:00,59.085957,11.498405
26,0221,2019,16500,0.154105,"[11.575578049808975, 59.8400806413854]",AKERSHUS,VIKEN,02,02,30,Aurskog-Høland,2018-12-10T00:00:00,59.085957,11.498405
27,0226,2019,18263,0.033312,"[11.258779563103607, 59.99516196205391]",AKERSHUS,VIKEN,02,02,30,Sørum,2018-12-10T00:00:00,59.085957,11.498405
28,0227,2019,11842,0.028150,"[11.220746103219323, 59.876150364507495]",AKERSHUS,VIKEN,02,02,30,Fet,2018-12-10T00:00:00,59.085957,11.498405
29,0228,2019,18161,0.011814,"[11.078271452317068, 59.882341572846364]",AKERSHUS,VIKEN,02,02,30,Rælingen,2018-12-10T00:00:00,59.085957,11.498405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0512,2019,2009,0.389443,"[8.63571418155505, 62.19143069274617]",OPPLAND,INNLANDET,05,05,34,Lesja,2018-12-10T00:00:00,59.085957,11.498405
71,0513,2019,2204,0.354396,"[7.8867244152809235, 61.933585808371866]",OPPLAND,VIKEN,05,05,30,Skjåk,2018-12-10T00:00:00,59.085957,11.498405
72,0513,2019,2204,0.354396,"[7.8867244152809235, 61.933585808371866]",OPPLAND,INNLANDET,05,05,34,Skjåk,2018-12-10T00:00:00,59.085957,11.498405
73,0514,2019,2293,0.333951,"[8.480583095456446, 61.7144340896145]",OPPLAND,VIKEN,05,05,30,Lom,2018-12-10T00:00:00,59.085957,11.498405
74,0514,2019,2293,0.333951,"[8.480583095456446, 61.7144340896145]",OPPLAND,INNLANDET,05,05,34,Lom,2018-12-10T00:00:00,59.085957,11.498405
75,0515,2019,3589,0.225363,"[8.952900652231483, 61.67358442344637]",OPPLAND,VIKEN,05,05,30,Vågå,2018-12-10T00:00:00,59.085957,11.498405
76,0515,2019,3589,0.225363,"[8.952900652231483, 61.67358442344637]",OPPLAND,INNLANDET,05,05,34,Vågå,2018-12-10T00:00:00,59.085957,11.498405
77,0516,2019,5742,0.192392,"[9.522173776509812, 61.58297060375787]",OPPLAND,VIKEN,05,05,30,Nord-Fron,2018-12-10T00:00:00,59.085957,11.498405
78,0516,2019,5742,0.192392,"[9.522173776509812, 61.58297060375787]",OPPLAND,INNLANDET,05,05,34,Nord-Fron,2018-12-10T00:00:00,59.085957,11.498405
79,0517,2019,5789,0.154017,"[9.475634552598406, 61.77406952558923]",OPPLAND,VIKEN,05,05,30,Sel,2018-12-10T00:00:00,59.085957,11.498405
80,0517,2019,5789,0.154017,"[9.475634552598406, 61.77406952558923]",OPPLAND,INNLANDET,05,05,34,Sel,2018-12-10T00:00:00,59.085957,11.498405
81,0519,2019,3127,0.125550,"[9.78938378405225, 61.53805376139744]",OPPLAND,VIKEN,05,05,30,Sør-Fron,2018-12-10T00:00:00,59.085957,11.498405
82,0519,2019,3127,0.125550,"[9.78938378405225, 61.53805376139744]",OPPLAND,INNLANDET,05,05,34,Sør-Fron,2018-12-10T00:00:00,59.085957,11.498405
83,0520,2019,4425,0.210769,"[10.319392862147645, 61.55768480584197]",OPPLAND,VIKEN,05,05,30,Ringebu,2018-12-10T00:00:00,59.085957,11.498405
84,0520,2019,4425,0.210769,"[10.319392862147645, 61.55768480584197]",OPPLAND,INNLANDET,05,05,34,Ringebu,2018-12-10T00:00:00,59.085957,11.498405
85,0521,2019,5119,0.106971,"[10.536491082151445, 61.31988921552225]",OPPLAND,VIKEN,05,05,30,Øyer,2018-12-10T00:00:00,59.085957,11.498405
86,0521,2019,5119,0.106971,"[10.536491082151445, 61.31988921552225]",OPPLAND,INNLANDET,05,05,34,Øyer,2018-12-10T00:00:00,59.085957,11.498405
87,0522,2019,6112,0.199651,"[9.860693830949248, 61.27148144062036]",OPPLAND,VIKEN,05,05,30,Gausdal,2018-12-10T00:00:00,59.085957,11.498405
88,0522,2019,6112,0.199651,"[9.860693830949248, 61.27148144062036]",OPPLAND,INNLANDET,05,05,34,Gausdal,2018-12-10T00:00:00,59.085957,11.498405
89,0528,2019,14948,0.092280,"[10.889791405128003, 60.608278428001974]",OPPLAND,VIKEN,05,05,30,Østre Toten,2018-12-10T00:00:00,59.085957,11.498405
90,0528,2019,14948,0.092280,"[10.889791405128003, 60.608278428001974]",OPPLAND,INNLANDET,05,05,34,Østre Toten,2018-12-10T00:00:00,59.085957,11.498405
91,0529,2019,13384,0.040664,"[10.623900768272877, 60.645833655385275]",OPPLAND,VIKEN,05,05,30,Vestre Toten,2018-12-10T00:00:00,59.085957,11.498405
92,0529,2019,13384,0.040664,"[10.623900768272877, 60.645833655385275]",OPPLAND,INNLANDET,05,05,34,Vestre Toten,2018-12-10T00:00:00,59.085957,11.498405
93,0532,2019,6846,0.037161,"[10.392914705648378, 60.280092908102816]",OPPLAND,VIKEN,05,05,30,Jevnaker,2018-12-10T00:00:00,59.085957,11.498405
94,0532,2019,6846,0.037161,"[10.392914705648378, 60.280092908102816]",OPPLAND,INNLANDET,05,05,34,Jevnaker,2018-12-10T00:00:00,59.085957,11.498405
95,0533,2019,9051,0.047026,"[10.663840034259799, 60.24450626844924]",OPPLAND,VIKEN,05,05,30,Lunner,2018-12-10T00:00:00,59.085957,11.498405
96,0533,2019,9051,0.047026,"[10.663840034259799, 60.24450626844924]",OPPLAND,INNLANDET,05,05,34,Lunner,2018-12-10T00:00:00,59.085957,11.498405
97,0534,2019,13642,0.123248,"[10.51453044006971, 60.4295849777501]",OPPLAND,VIKEN,05,05,30,Gran,2018-12-10T00:00:00,59.085957,11.498405
98,0534,2019,13642,0.123248,"[10.51453044006971, 60.4295849777501]",OPPLAND,INNLANDET,05,05,34,Gran,2018-12-10T00:00:00,59.085957,11.498405
99,0536,2019,5623,0.119629,"[10.27133624704928, 60.676603851840845]",OPPLAND,VIKEN,05,05,30,Søndre Land,2018-12-10T00:00:00,59.085957,11.498405

In [ ]:
def getLatitude(x):
    try:
        return x[1]
    except:
        return np.nan

df_m['latitude'].apply(lambda x: getLatitude(x))

In [103]:
df_m['latitude'] = df_m['centroid_kommune'].apply(lambda x: x[1])
#df_m['longitude'] = df_m['centroid_kommune'].apply(lambda x: x[0])

TypeError: 'float' object is not subscriptable

In [99]:
df_m[['kommunenummer','navn','år','befolkning','latitude','longitude','fylke_navn_2019', 'fylke_navn_2020']].to_csv('befolkning_kommuner_år.csv', index=False)

In [100]:
df_m[['kommunenummer','navn','år','befolkning','latitude','longitude','fylke_navn_2019', 'fylke_navn_2020']].to_csv('befolkning_kommuner_år_nohead.csv', index=False, header=False)