In [2]:
import requests
import pandas as pd
import geopandas as gpd

In [3]:
dfg = gpd.read_file('https://raw.githubusercontent.com/datasett/maps/master/norway/data/counties_2018_s_geojson.json')

In [9]:
dfg.columns

Index(['id', 'kommunenummer', 'oppdateringsdato', 'navn', 'area_kommune',
       'fylke_nummer_2018', 'fylke_nummer_2019', 'fylke_navn_2019',
       'fylke_nummer_2020', 'fylke_navn_2020', 'geometry'],
      dtype='object')

In [10]:
df = pd.read_json('https://raw.githubusercontent.com/datasett/maps/master/norway/data/counties_2018_s_geojson.json')

In [61]:
kommuner = []
for index, row in df.iterrows():
    kommuner.append(row.features['properties'])

In [62]:
dfk = pd.DataFrame(kommuner)

In [63]:
dfk.head(1)

,area_kommune,centroid_kommune,fylke_navn_2019,fylke_navn_2020,fylke_nummer_2018,fylke_nummer_2019,fylke_nummer_2020,kommunenummer,navn,oppdateringsdato
0,0.100015,"[11.498404769493327, 59.08595732263681]",ØSTFOLD,VIKEN,01,01,30,0101,Halden,2018-12-10T00:00:00

In [64]:
dfb = pd.read_csv('https://data.ssb.no/api/v0/dataset/1080.csv?lang=no', sep=';', encoding='latin1')

In [65]:
dfb['kommune'] = dfb['region'].apply(lambda x: x[0:4])
dfb.head()

,region,alder,år,statistikkvariabel,"07459: Befolkning, etter region, alder, år og statistikkvariabel",kommune
0,0101 Halden (-2019),000 0 år,2019,Personer,245,0101
1,0101 Halden (-2019),001 1 år,2019,Personer,309,0101
2,0101 Halden (-2019),002 2 år,2019,Personer,311,0101
3,0101 Halden (-2019),003 3 år,2019,Personer,303,0101
4,0101 Halden (-2019),004 4 år,2019,Personer,318,0101

In [66]:
dfb_grouped = dfb[['07459: Befolkning, etter region, alder, år og statistikkvariabel','kommune','år']].groupby(['kommune','år']).sum().reset_index()

In [67]:
dfb_grouped.columns=['kommunenummer', 'år','befolkning']

In [68]:
dfb_grouped.head(1)

  kommunenummer    år  befolkning
0          0101  2019       31177

In [69]:
df_m = pd.merge(dfb_grouped,dfk, on='kommunenummer', how='left')

In [70]:
df_m

,kommunenummer,år,befolkning,area_kommune,centroid_kommune,fylke_navn_2019,fylke_navn_2020,fylke_nummer_2018,fylke_nummer_2019,fylke_nummer_2020,navn,oppdateringsdato
0,0101,2019,31177,0.100015,"[11.498404769493327, 59.08595732263681]",ØSTFOLD,VIKEN,01,01,30,Halden,2018-12-10T00:00:00
1,0104,2019,32726,0.009754,"[10.694785483673224, 59.45187621919044]",ØSTFOLD,VIKEN,01,01,30,Moss,2018-12-10T00:00:00
2,0105,2019,55997,0.063157,"[11.161866574429215, 59.288044170917]",ØSTFOLD,VIKEN,01,01,30,Sarpsborg,2018-12-10T00:00:00
3,0106,2019,81772,0.043210,"[10.937506651630564, 59.23057820000602]",ØSTFOLD,VIKEN,01,01,30,Fredrikstad,2018-12-10T00:00:00
4,0111,2019,4599,0.010446,"[10.965155146323387, 59.07160447267584]",ØSTFOLD,VIKEN,01,01,30,Hvaler,2018-12-10T00:00:00
5,0118,2019,1357,0.050560,"[11.696105750059868, 59.21555568971278]",ØSTFOLD,VIKEN,01,01,30,Aremark,2018-12-10T00:00:00
6,0119,2019,3592,0.064756,"[11.652372443442108, 59.48573464493384]",ØSTFOLD,VIKEN,01,01,30,Marker,2018-12-10T00:00:00
7,0121,2019,673,0.029597,"[11.806821156278769, 59.71379746689546]",ØSTFOLD,VIKEN,01,01,30,Rømskog,2018-12-10T00:00:00
8,0122,2019,5347,0.032279,"[11.333151010175229, 59.66243517006918]",ØSTFOLD,VIKEN,01,01,30,Trøgstad,2018-12-10T00:00:00
9,0123,2019,6042,0.022931,"[11.081841208098155, 59.60731646700169]",ØSTFOLD,VIKEN,01,01,30,Spydeberg,2018-12-10T00:00:00
10,0124,2019,15865,0.010788,"[11.17394047332145, 59.59453597745178]",ØSTFOLD,VIKEN,01,01,30,Askim,2018-12-10T00:00:00
11,0125,2019,11424,0.037126,"[11.372985980628956, 59.53261034086829]",ØSTFOLD,VIKEN,01,01,30,Eidsberg,2018-12-10T00:00:00
12,0127,2019,3797,0.016236,"[11.15282949536259, 59.48107646138169]",ØSTFOLD,VIKEN,01,01,30,Skiptvet,2018-12-10T00:00:00
13,0128,2019,8230,0.068911,"[11.41629539947803, 59.37271350378448]",ØSTFOLD,VIKEN,01,01,30,Rakkestad,2018-12-10T00:00:00
14,0135,2019,7542,0.018438,"[10.861806171033308, 59.34660963102975]",ØSTFOLD,VIKEN,01,01,30,Råde,2018-12-10T00:00:00
15,0136,2019,16145,0.011491,"[10.715608336190789, 59.37693602179492]",ØSTFOLD,VIKEN,01,01,30,Rygge,2018-12-10T00:00:00
16,0137,2019,5593,0.040793,"[10.932417532482681, 59.45792461986205]",ØSTFOLD,VIKEN,01,01,30,Våler,2018-12-10T00:00:00
17,0138,2019,5642,0.021266,"[10.941455276084094, 59.60096306203317]",ØSTFOLD,VIKEN,01,01,30,Hobøl,2018-12-10T00:00:00
18,0211,2019,17824,0.022016,"[10.737572488854479, 59.5679322105662]",AKERSHUS,VIKEN,02,02,30,Vestby,2018-12-10T00:00:00
19,0213,2019,30843,0.026871,"[10.901699306740774, 59.72855767530861]",AKERSHUS,VIKEN,02,02,30,Ski,2018-12-10T00:00:00
20,0214,2019,20335,0.016167,"[10.785062022477439, 59.67690382262835]",AKERSHUS,VIKEN,02,02,30,Ås,2018-12-10T00:00:00
21,0215,2019,15761,0.012415,"[10.670582656607847, 59.70346112079382]",AKERSHUS,VIKEN,02,02,30,Frogn,2018-12-10T00:00:00
22,0216,2019,19488,0.009721,"[10.645328503593683, 59.792196457856775]",AKERSHUS,VIKEN,02,02,30,Nesodden,2018-12-10T00:00:00
23,0217,2019,27394,0.006164,"[10.784541566491042, 59.79126010205358]",AKERSHUS,VIKEN,02,02,30,Oppegård,2018-12-10T00:00:00
24,0219,2019,126841,0.030917,"[10.495685105967478, 59.942771245441016]",AKERSHUS,VIKEN,02,02,30,Bærum,2018-12-10T00:00:00
25,0220,2019,61523,0.015104,"[10.419398009121238, 59.834410370957805]",AKERSHUS,VIKEN,02,02,30,Asker,2018-12-10T00:00:00
26,0221,2019,16500,0.154105,"[11.575578049808975, 59.8400806413854]",AKERSHUS,VIKEN,02,02,30,Aurskog-Høland,2018-12-10T00:00:00
27,0226,2019,18263,0.033312,"[11.258779563103607, 59.99516196205391]",AKERSHUS,VIKEN,02,02,30,Sørum,2018-12-10T00:00:00
28,0227,2019,11842,0.028150,"[11.220746103219323, 59.876150364507495]",AKERSHUS,VIKEN,02,02,30,Fet,2018-12-10T00:00:00
29,0228,2019,18161,0.011814,"[11.078271452317068, 59.882341572846364]",AKERSHUS,VIKEN,02,02,30,Rælingen,2018-12-10T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
530,5026,2019,2025,0.213239,"[11.246176679965638, 62.85133127095205]",TRØNDELAG,TRØNDELAG,50,50,50,Holtålen,2018-12-10T00:00:00
531,5027,2019,6246,0.328275,"[10.534288138496288, 62.90231001956817]",TRØNDELAG,TRØNDELAG,50,50,50,Midtre Gauldal,2018-12-10T00:00:00
532,5028,2019,16562,0.122951,"[10.2715513555787, 63.15866366650967]",TRØNDELAG,TRØNDELAG,50,50,50,Melhus,2018-12-10T00:00:00
533,5029,2019,8231,0.040604,"[10.034636609320899, 63.26485091306896]",TRØNDELAG,TRØNDELAG,50,50,50,Skaun,2018-12-10T00:00:00
534,5030,2019,6076,0.033528,"[10.540516031725598, 63.26317426964167]",TRØNDELAG,TRØNDELAG,50,50,50,Klæbu,2018-12-10T00:00:00
535,5031,2019,14040,0.029876,"[10.757603692447564, 63.372231771672716]",TRØNDELAG,TRØNDELAG,50,50,50,Malvik,2018-12-10T00:00:00
536,5032,2019,4088,0.219736,"[11.137090145213282, 63.20038088751691]",TRØNDELAG,TRØNDELAG,50,50,50,Selbu,2018-12-10T00:00:00
537,5033,2019,794,0.235542,"[11.806885959100335, 63.008176415725885]",TRØNDELAG,TRØNDELAG,50,50,50,Tydal,2018-12-10T00:00:00
538,5034,2019,2432,0.228773,"[11.831803157582321, 63.4042281264715]",TRØNDELAG,TRØNDELAG,50,50,50,Meråker,2018-12-10T00:00:00
539,5035,2019,24028,0.168642,"[11.211946144871924, 63.46467924190273]",TRØNDELAG,TRØNDELAG,50,50,50,Stjørdal,2018-12-10T00:00:00
540,5036,2019,2632,0.013618,"[10.79586770251948, 63.60755928301345]",TRØNDELAG,TRØNDELAG,50,50,50,Frosta,2018-12-10T00:00:00
541,5037,2019,20254,0.118010,"[11.267803245767743, 63.658784384505964]",TRØNDELAG,TRØNDELAG,50,50,50,Levanger,2018-12-10T00:00:00
542,5038,2019,14933,0.281375,"[12.014420517780927, 63.78641769658905]",TRØNDELAG,TRØNDELAG,50,50,50,Verdal,2018-12-10T00:00:00
543,5039,2019,2449,0.108980,"[10.891788753460203, 63.979937858666176]",TRØNDELAG,TRØNDELAG,50,50,50,Verran,2018-12-10T00:00:00
544,5040,2019,1576,0.142297,"[11.131702098439185, 64.27434584083394]",TRØNDELAG,TRØNDELAG,50,50,50,Namdalseid,2019-03-14T00:00:00
545,5041,2019,2100,0.432616,"[12.627855161675273, 64.20465533935385]",TRØNDELAG,TRØNDELAG,50,50,50,Snåsa,2018-12-10T00:00:00
546,5042,2019,1386,0.550007,"[13.627283997373523, 64.36865822223393]",TRØNDELAG,TRØNDELAG,50,50,50,Lierne,2018-12-10T00:00:00
547,5043,2019,482,0.300872,"[13.63945086850607, 64.90160448027375]",TRØNDELAG,TRØNDELAG,50,50,50,Røyrvik,2018-12-10T00:00:00
548,5044,2019,871,0.267819,"[13.01081832973864, 64.86536363997782]",TRØNDELAG,TRØNDELAG,50,50,50,Namsskogan,2018-12-10T00:00:00
549,5045,2019,2374,0.212747,"[12.588734241090705, 64.51425459282686]",TRØNDELAG,TRØNDELAG,50,50,50,Grong,2018-12-10T00:00:00
550,5046,2019,1254,0.142281,"[12.35721945576495, 64.74341348212798]",TRØNDELAG,TRØNDELAG,50,50,50,Høylandet,2018-12-10T00:00:00
551,5047,2019,3879,0.135397,"[11.902883507776151, 64.45558358283948]",TRØNDELAG,TRØNDELAG,50,50,50,Overhalla,2018-12-10T00:00:00
552,5048,2019,605,0.102345,"[11.748797797436678, 64.70050187694093]",TRØNDELAG,TRØNDELAG,50,50,50,Fosnes,2018-12-10T00:00:00
553,5049,2019,1103,0.078481,"[10.87541936139466, 64.41900033522933]",TRØNDELAG,TRØNDELAG,50,50,50,Flatanger,2018-12-10T00:00:00
554,5050,2019,4578,0.045948,"[11.026181860482051, 64.90847068392101]",TRØNDELAG,TRØNDELAG,50,50,50,Vikna,2018-12-10T00:00:00
555,5051,2019,5072,0.194817,"[11.855755544883735, 64.89669642968161]",TRØNDELAG,TRØNDELAG,50,50,50,Nærøy,2018-12-10T00:00:00
556,5052,2019,567,0.019058,"[11.732498805609488, 65.08694938274651]",TRØNDELAG,TRØNDELAG,50,50,50,Leka,2018-12-10T00:00:00
557,5053,2019,6804,0.065824,"[11.035611776459342, 63.846239806778975]",TRØNDELAG,TRØNDELAG,50,50,50,Inderøy,2018-12-10T00:00:00
558,5054,2019,9988,0.190798,"[10.269684127444476, 63.674792817128484]",TRØNDELAG,TRØNDELAG,50,50,50,Indre Fosen,2018-12-10T00:00:00
559,5061,2019,2028,0.112773,"[9.290576493646892, 63.03198280997185]",TRØNDELAG,TRØNDELAG,50,50,50,Rindal,2018-12-10T00:00:00

In [73]:
df_m[['kommunenummer', 'år', 'centroid_kommune', 'fylke_navn_2019', 'fylke_navn_2020']].to_csv('befolkning_kommuner_år.csv', index=False)