In [2]:
import requests
import pandas as pd
import geopandas as gpd

In [3]:
dfg = gpd.read_file('https://raw.githubusercontent.com/datasett/maps/master/norway/data/counties_2018_s_geojson.json')

In [9]:
dfg.columns

Index(['id', 'kommunenummer', 'oppdateringsdato', 'navn', 'area_kommune',
       'fylke_nummer_2018', 'fylke_nummer_2019', 'fylke_navn_2019',
       'fylke_nummer_2020', 'fylke_navn_2020', 'geometry'],
      dtype='object')

In [10]:
df = pd.read_json('https://raw.githubusercontent.com/datasett/maps/master/norway/data/counties_2018_s_geojson.json')

In [61]:
kommuner = []
for index, row in df.iterrows():
    kommuner.append(row.features['properties'])

In [82]:
dfk = pd.DataFrame(kommuner)

In [83]:
dfk.head(1)

,area_kommune,centroid_kommune,fylke_navn_2019,fylke_navn_2020,fylke_nummer_2018,fylke_nummer_2019,fylke_nummer_2020,kommunenummer,navn,oppdateringsdato
0,0.100015,"[11.498404769493327, 59.08595732263681]",ØSTFOLD,VIKEN,01,01,30,0101,Halden,2018-12-10T00:00:00

In [84]:
dfb = pd.read_csv('https://data.ssb.no/api/v0/dataset/1080.csv?lang=no', sep=';', encoding='latin1')

In [85]:
dfb['kommune'] = dfb['region'].apply(lambda x: x[0:4])
dfb.head()

,region,alder,år,statistikkvariabel,"07459: Befolkning, etter region, alder, år og statistikkvariabel",kommune
0,0101 Halden (-2019),000 0 år,2019,Personer,245,0101
1,0101 Halden (-2019),001 1 år,2019,Personer,309,0101
2,0101 Halden (-2019),002 2 år,2019,Personer,311,0101
3,0101 Halden (-2019),003 3 år,2019,Personer,303,0101
4,0101 Halden (-2019),004 4 år,2019,Personer,318,0101

In [86]:
dfb_grouped = dfb[['07459: Befolkning, etter region, alder, år og statistikkvariabel','kommune','år']].groupby(['kommune','år']).sum().reset_index()

In [87]:
dfb_grouped.columns=['kommunenummer', 'år','befolkning']

In [88]:
dfb_grouped.head(1)

  kommunenummer    år  befolkning
0          0101  2019       31177

In [89]:
df_m = pd.merge(dfb_grouped,dfk, on='kommunenummer', how='left')

In [91]:
df_m.head(1)

,kommunenummer,år,befolkning,area_kommune,centroid_kommune,fylke_navn_2019,fylke_navn_2020,fylke_nummer_2018,fylke_nummer_2019,fylke_nummer_2020,navn,oppdateringsdato
0,0101,2019,31177,0.100015,"[11.498404769493327, 59.08595732263681]",ØSTFOLD,VIKEN,01,01,30,Halden,2018-12-10T00:00:00

In [97]:
df_m['latitude'] = df_m['centroid_kommune'][0][1]
df_m['longitude'] = df_m['centroid_kommune'][0][0]

In [98]:
df_m[['kommunenummer', 'år','befolkning','latitude','longitude','fylke_navn_2019', 'fylke_navn_2020']].to_csv('befolkning_kommuner_år.csv', index=False)